@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* 아주 연한 회색 배경 (눈이 편안함) */
  background-color: #f8fafc; 
  color: #1e293b;
}

/* 제목들에 꽉 찬 느낌 주기 */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.025em; 
}