spring:
  datasource:
    url: jdbc:mysql://${DB_URL}:3306/techblog?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      region:
        static: ap-northeast-2
      s3:
        bucket: ${S3_BUCKET_NAME}

app:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration-ms: 3600000

  upload:
    dir: ${S3_UPLOAD_DIR} # 배포 서버의 실제 경로 (S3 사용 시 무시될 수 있음)
    url-prefix: ${S3_UPLOAD_URL_PREFIX}

  cors:
    allowed-origins: ${FRONTEND_URL}